@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    font-family: 'Nunito Sans';
}

/* Root styles */

html {
    background-color: #000;
    margin: 0;
    padding: 0;
}

body {
    width: 50%;
    height: 100dvh;
    min-width: 450px;
    margin: 0 auto;
    background-color: #fff;
    /* Hiding the scroll bar (for MS Edge, IE, and Firefox) */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html, body {
    overflow: auto;
}

main    {
    margin: 0 10px;
}

/* Link styles */

a {
    color: #ff6d6d;
}

a:hover {
    text-decoration: none;
}

code {
    background-color: #00000010;
    font-family: 'Consolas';
    color: #299eff;
}

/* Scrolling warning message */

#top-scrolling {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: #ff6d6d;
}

#top-scrolling p {
    display: inline-block;
    padding-left: 100%;
    animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Navbar styles */

.navbar {
    text-align: center;
}

.navbar a {
    padding: 2px;
}

.active {
    font-weight: 700;
}

/* Titles (main title and sub-titles) */

.title {
    font-weight: 700;
    text-align: center;
    font-size: 50px;
    padding: 0;
    margin: 0;
    color: #ff6d6d;
}

.page-title {
    font-size: 40px;
    text-align: center;
    padding: 0;
    margin: 10px 0;
    color: #ff6d6d;
}

.subtitle {
    font-size: 20px;
    margin: 0 0 10px 0;
    text-align: center;
}

/* External link icon */

.external-link::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    background-image: url("/assets/img/external_link.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Dead link icon */

.dead-link::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    background-image: url("/assets/img/dead_link.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* HTML element styles */

.code-html {
    color: #5fe787;
}

.code-html-tag {
    color: #000;
}

/* Changelog styles */

.changelog-list {
    margin: 0 0 10px 0;
}

.log-title {
    color: #ff6d6d;
    text-decoration: underline;
    margin: 0 0 10px 0;
}

.log-subtitle {
    margin: 0;
    padding: 0;
}

.log-note {
    margin: 0;
    font-size: 75%;
    font-style: italic;
}

/* Hiding the scroll bar (for Chrome, Safari, and Opera) */

main::-webkit-scrollbar {
    display: none;
}

/* osu! Blog styles */

.osu-blog {
    padding: 20px;
    border: #000 1px solid;
    margin: 10px 0;
}

.osu-blog-title {
    font-weight: 700;
    font-size: 20px;
}

.osu-blog-time {
    margin: 0;
    float: right;
    text-align: right;
    width: 60px;
    color: #ff6d6d;
    border-left: #000000 1px solid;
    height: 100%;
    line-height: 30px;
}

.osu-blog-description {
    margin: 10px 0 0 0;
}

.osu-beatmap-info {
    font-size: 14px;
}

.osu-beatmap-info tr td {
    padding: 5px;
}

.osu-beatmap-info, tr, td {
    border: 1px solid #000000;
}

.osu-beatmap-info-title {
    font-weight: 700;
}

.info-subtitle {
    font-size: 16px;
    margin: 0 0 10px;
}

.osu-difficulty-indicator {
    border-radius: 25px;
    padding: 0 3px;
    width: 50px;
    text-align: center;
}

/* Other styles */

.project-description {
    border: #000 solid 1px;
    padding: 5px;
}